%h2#sub-title= set["title"]
%a#back-button{ :href => "/" }= "Back"
#study-tabs
  %ul
    %li
      %a{ :href => "#study"}
        %span= "Study"
    %li
      %a{ :href => "#definitions"}
        %span= "Definitions"
  #study
    #card			
      %a#flip{ :href => "#" }
        #front
        #back
    #buttons
      %a#previous{ :href => "#" }= "Previous"
      %a#flag{ :href => "#" }= "Flag"
      %a#next{ :href => "#" }= "Next"
    %a#reset{ :href => "#" }= "Start Over"
    #progress
    #instructions
      = "Click to flip, flag to place further in deck."
      %br
			= "Shortcuts"
			%br
			= " J - previous"
			%br
			= " K - flag "
			%br
			= " L - next "
			%br
			= " I - flip "
      = "Keyboard: L - Next, J - Previous, K - Flag, I - Flip"
  #definitions

:javascript
  set = #{set.to_json}
%script{ :type => "text/javascript", :src => "/js/study.js" }